$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
// bower:scss
// endbower
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Noto Serif', serif;
}
/* Google Map Canvas */
/* debug values */
#map-canvas {

  height: 100%;
}
/* TODO: temporary */
#info {
  position: absolute;
  bottom: 35px;
  left: 15px;
  height: 250px;
  width: 325px;
  z-index: 99;
  overflow: scroll;
  border: 1px solid #000;
  background: #eee;
  padding: 5px;
  font-size: 11px;
}
#search {
  position: absolute;
  top: 5px;
  left: 15px;
  z-index: 100;
  width: 300px;
  margin: 0 0 0 0;
}
.ui-tooltip {
  background: #4a4a4a;
  color: #96f226;
  border: 2px solid #454545;
  border-radius: 0;
  box-shadow: 0 0;
}
.ui-autocomplete {
  font-size: 12px;
  background-color: #fff;
  border-radius: 0;
  width: 300px;
  border: 1px solid black;
  z-index: 999;
  line-height: 20px;
  cursor: pointer;
}
.ui-autocomplete.source:hover {
  background: #454545;
}
.ui-menu .ui-menu-item a {
  background: red;
  height: 10px;
  font-size: 8px;
}
ul.ui-autocomplete {
  list-style: none;
}
